.navbar{
    background-color: rgb(255, 255,255);
    border-bottom: 1px solid rgb(228,228,228);
}
.navbar ul{
    display: flex;
    padding: 20px 0;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px;
}
.navbar ul li a:hover{
    color: #000;
    text-decoration:underline;
}
.navbar ul li:nth-child(1) svg{
    vertical-align: sub;
}
.navbar ul li:nth-child(1){
    display: none;
}
@media screen and (max-width: 992px){

   .navbar ul li:nth-child(1){
    display: block;
   } 
}